
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#888,#555);
    overflow: hidden;
}
h1{
    color: white;
    margin: 0em 0em 0em 0em;
    font-size: 3em;
}
h4{
    color: white;
    margin: 1em 0em 0em 0em;
    font-size: 1.25em;
}
#canvas{
    margin: 4em;
    border: solid 4px #000;
    width: 1024px;
    height: 512px;
    background: linear-gradient(rgb(49, 38, 6),rgb(247, 213, 135));
}
